/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
/* #endregion RESET */

/* #region GENERAL */
:root{
    --main-dark: #001633;
    --secondary: #00E164;
    --activated: #0fb3ef;
    --header-h: 70px;
    --footer-h: 40px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--main-dark);
}
/* #endregion GENERAL */

/* #region HEADER */
header{
    padding: 10px;
    height: var(--header-h);
    display: flex;
    align-items: center;
    & img{
        height: 100%;
    }
    & h1{
        display: inline-block;
        margin-left: 0.5rem;
    }
    & .choice{
        text-align: end;
        flex-grow: 1;
    }
}

#start-btn{
    padding: 3px 10px;
    border-radius: 10px;
    background-color: #00E164;
    cursor: pointer;
    &:hover{
        background-color:color-mix(in srgb, var(--secondary) 70%, black 30%);
    }
}
/* #endregion HEADER */

/* #region MAIN */
main{
    height: calc(100vh - var(--footer-h) - var(--header-h));
    background-color: var(--secondary);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    & .container{
        width: 500px;
        aspect-ratio: 1;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}

.square{
    box-shadow: 
        2px 0 0 0 var(--main-dark), 
        0 2px 0 0 var(--main-dark), 
        2px 2px 0 0 var(--main-dark),   /* Just to fix the corner */
        2px 0 0 0 var(--main-dark) inset, 
        0 2px 0 0 var(--main-dark) inset;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.easy{
        width: calc(100% / 10);
    }
    &.medium{
        width: calc(100% / 9);
    }
    &.hard{
        width: calc(100% / 7);
    }
}

.activated{
    background-color: var(--activated);
}
/* #endregion MAIN */

/* #region FOOTER */
footer{
    padding: 6px;
}
/* #endregion FOOTER */